<section class="home d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column text-white">
            <div class="text-center">
                <img src="./assets/avataaars.svg" alt="" class="w-75">
            </div>
            <h2 class="text-center mt-5">START FRAMEWORK</h2>
            <div class="starIcon my-3"><i class="fa-solid fa-star"></i></div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>